<html>
    <head>
    <title>Newsletter</title>
    <!--
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/stars.css">
    <link rel="stylesheet" href="/static/callout.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body class="bg-light">
<br>
<br>
<br>
<br>
<br>

<div class="container">
<div class="jumbotron text-xs-center alert alert-danger">
  <h1 class="display-3">:(</h1>
  <p class="lead">
      <!--<strong>Just to make sure everything is fine, we have sent you a confirmation email</strong> -->
      <br>There was an problem validating your request.</p>
  <hr>
  <p>
    Suggestions? <a href="#">Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/" role="button">Back home</a>
  </p>
</div>
    </div>
    </body>
</html>
